{% extends "layout2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Servieat | Cambiar Datos
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('.static', filename='perfilComensal.css')}}">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
{% endblock %}

{% block content %}


<div id="cabezera" class="card">
    <div class="card-body">
        <form method="POST" action="/cambiarDatosRest" >
            {{ form.hidden_tag() }}
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Datos de la cuenta</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="inputText"></label>
                                    <!--<input size="28" type="text" value="{{user.username}}" name="username" >-->
                                    {{ wtf.form_field(form.username, value=user.username) }}
                                </div>
                                <div class="col-md-4">
                                    <label for="inputText"></label>
                                    {{ wtf.form_field(form.correo, value=user.correo) }}
                                </div>

                            </div>
                        </div>
                    </div>
                    <button id="botonDir" type="submit" class="btn btn-info" title="Guardar los datos ingresados">Actualizar</button>
                    <a id="botonDir" href="javascript: history.go(-1)" class="btn btn-secondary" title="Cancelar operación">Cancelar</a>
                </div>                
            </div>
        </form>
    </div>
</div>


{% endblock %}